<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hosting</title>
        <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
       

        <div v-for = "(domain,index) in hosting" class="domain"         
        v-bind:class = "{free : isFree(index)}"
        > 
            <header v-bind:class="{ isPaid: domain.paid, notPaid : !domain.paid }">
                    <div class="id">{{index+1}}</div>
                    <h2 class="name">
                       {{domain.Domain}} 
                    </h2>
                    <div >
                            <span v-show ="domain.paid">Paid</span>
                            <span v-show ="isFree(index)">Free</span>

                    </div>
            </header>
            <div class="details-box">
               <!-- <iframe :src = "fullUrl(index)" frameborder="0" height="400px" width="400px"></iframe>-->
                <div class="details">
                        
                               Amount :  {{ hostingCharge(index)}} <br>
                               Cost includes Domain name : {{domain["d-inclued"]}} <br> 
                               User: {{domain["User Name"]}} <br>
                                Quota: {{domain.Quota}}Mb <br>
                             Space Used {{spaceUsed(index)}}Mb <br>
                              Contact Email :  <br>
                              Who collected : <br>             
                </div>
            </div>
                
                

            

        </div>
       
    </div>
    <script src="http://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>