html{
    font: 400 1rem/1.3rem 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3d3d3d;
}
* {
 box-sizing: content-box;
}
.domain{
    background: rgb(232, 238, 232);
    margin: 15px;
   box-shadow: #babdbb 2px 2px 4px;
   border-radius: 10px;
   position: relative;
}
.domain > * {
    padding: 10px;
}

header{
    display: flex;
    background: #79b86130;
   
}
header h2{
    font-size: 5vw;
    flex:4;
    color: darkgreen
}
.notPaid{
    background: rgba(238, 144, 136,.5)
}
.notPaid h2{
    color: #a45;
}
.isFree{}
 .free header{
    background: rgb(175, 172, 2);
}
.free header span{
    background: rgb(190, 221, 79);
}
header span{
    padding: 10px;
    background: rgb(41, 136, 65);
    color:#fff;
}

.domain .details-box{
    transition:all 4500ms ease-in-out;;
    height: 0px;
    display: none;
    opacity: 0;
    line-height: 1.5rem;
}
.domain:hover .details-box {
    animation-name: aniHeight;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: block;
    opacity: 1;
}


@keyframes aniHeight{
    0%{
        height: 0px;
        background: #fff;
    }
    100%{
        height: 200px;
        background: #cececa;
        
    }
}


@media (min-width : 800px) {
    header h2 {
        font-size: 1.5vw;
    }
}


